@import "../sass/vars";

.page-header{
	.header-panel{
		padding: 30px 0;
		.user{
			.user-ask-login{
				text-align: right;
				margin: 0;
				span{
					font-style: italic;
					color: $decoration;
					&:hover{
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}
			.user-greating{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				img{
					width: 30px;
					height: 30px;
					border-radius: 50%;
					display: inline-block;
				}

				.user-logined{
					text-align: left;
					margin: 0 10px;
					font-size: 0.8em;
					font-style: italic;
					display: inline-block;
					color: $decoration;
					span{
						font-style: normal;
						font-size: 1rem;
						color: $text-color;
					}
				}
			}
		}
	}
	.modal{
		text-align: center;
		.modal-content{
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			.modal-header{
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				background-color: $decoration;
				color: white;
				.fa{
					margin-right: 20px;
					font-size: 25px;
				}
			}
			.modal-body{
				label{
					margin: 0;
				}
				input{
					margin: 10px;
				}
				.fa{
					font-size: 25px;
					color: $decoration;
				}
				.input-submit{
					color: white;
					font-size: 20px;
					padding: 10px 40px;
					background-color: $decoration;
					border-radius: 15px;
					&:hover{
						background-color: $active;
					}
				}
			}
			.modal-footer a{
				color: $text-color;
				justify-content: center;
				&:hover{
					color: $active;
				}
			}
		}

	}
}
