@import "vars";
@import "fonts";
@import "libs";

body {
    font-family: $default-font;
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    line-height: 26px;
}

.header{
    background-color: $background;
    padding: 30px 0 0;
    .container{
        .wide-menu{
            width: 100%;
            background-color: $decorative;
            text-align: center;
            .menu-list{
                list-style-type: none;
                .menu-item{
                    display: inline-block;
                    a{
                        display: block;
                        color: #e0e0e0;
                        font-weight: 700;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 40px 25px 30px;
                        transition:all  ease-in-out 0.15s ;
                        &:hover{
                            background-color: $accent;
                        }
                    }
                }
            }

        }
        .greeting{
            padding: 110px 16px;
            .greet-descripption{
                margin:36px 0 58px;
            }
        }
        .video-header{
            text-align: right;
           .video-block{
               display: inline-block;
               width: 90%;
               position: relative;
               video{
                   width: 100%;
                   display: block;
                   height: auto;
               }
               .video-preview{
                   position: absolute;
                   top: 0;
                   left: 0;
                   width: 100%;
                   height: 100%;
                   background-color: rgba(0,0,0,0.4);
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   .control{
                       transform-origin: center;
                       transition:all ease-in 0.2s;
                       &:hover{
                           transform: scale(1.2);
                       }
                   }
               }
           }
        }

    }

}

.about-us{
    padding: 105px 0 0;
    .our-description{
        .description{
            margin:50px 0;
            max-width: 95%;
            color: black;
        }
    }
    .our-services{
        .service{
            .service-icon{
                margin: 0 0 30px;
                .icon{
                    font-family: icons;
                    color: $accent;
                    font-size: 2.25em;
                    font-style: normal;
                }
            }
            .service-description{
               margin: 20px 0 50px;
            }
        }
    }
    .decorative-line{
        margin-top: 50px;
        height: 2px;
        background-color: #ECECEC;
    }
}
.feature-products{
    padding: 95px 0 120px;
    text-align: center;
    .description{
        max-width: 500px;
        margin: 30px auto;
    }
    .products-menu{
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 80px 0 60px;
        .menu-item{
            display: inline-block;
            text-transform: uppercase;
            font-size: 1.375em;
            font-weight: 500;
            margin: 0 10px;
            padding: 5px;
            &:hover{
                color: black;
                cursor: pointer;
            }
        }
    }
    .images{
        .rectangle-wraper{
            overflow: hidden;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-bottom: 20px;
            .content{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 1s ease;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
.our-team{
    .description{
        max-width: 470px;
        margin: 26px 0 30px;
    }
}
.h1{
    font-size: 3.75em;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 700;
}

.h2{
    text-transform: uppercase;
    font-size: 2.625em;
    line-height: 1.3em;
    font-weight: bold;
}

.h4{
    font-size: 1.5em;
    font-weight: 500;
}
.underline{
    display: inline-block;
    width: 130px;
    height: 2px;
    background-color: $accent;
    margin: auto;
}
.button{
    display: inline-block;
    background-color: $accent;
    border-radius: 5px;
    padding: 18px 61px;
    border: solid 2px $accent;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.25s ease-in-out;
    &:hover{
        text-decoration: none;
        color: $accent;
        background-color: white;

    }
}

@import "media";