@import "vars";
@import "fonts";
@import "libs";


body {
    font-family: $default-font;
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    line-height: 26px;
    overflow-x: hidden;
}

.header{
    background-color: $background;
    padding: 30px 0 0;
    .container{
        .wide-menu{
            width: 100%;
            background-color: $decorative;
            text-align: center;
            .menu-list{
                list-style-type: none;
                .menu-item{
                    display: inline-block;
                    a{
                        display: block;
                        color: #e0e0e0;
                        font-weight: 700;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 40px 25px 30px;
                        transition:all  ease-in-out 0.15s ;
                        &:hover{
                            background-color: $accent;
                        }
                    }
                }
            }

        }
        .greeting{
            padding: 110px 16px;
            .greet-descripption{
                margin:36px 0 58px;
            }
        }
        .video-header{
            text-align: right;
           .video-block{
               display: inline-block;
               width: 90%;
               position: relative;
               video{
                   width: 100%;
                   display: block;
                   height: auto;
               }
               .video-preview{
                   position: absolute;
                   top: 0;
                   left: 0;
                   width: 100%;
                   height: 100%;
                   background-color: rgba(0,0,0,0.4);
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   .control{
                       transform-origin: center;
                       transition:all ease-in 0.2s;
                       &:hover{
                           transform: scale(1.2);
                       }
                   }
               }
           }
        }

    }

}

.about-us{
    padding: 105px 0 0;
    .our-description{
        .description{
            margin:50px 0;
            max-width: 95%;
            color: black;
        }
    }
    .our-services{
        .service{
            .service-icon{
                margin: 0 0 30px;
                .icon{
                    font-family: icons;
                    color: $accent;
                    font-size: 2.25em;
                    font-style: normal;
                }
            }
            .service-description{
               margin: 20px 0 50px;
            }
        }
    }
    .decorative-line{
        margin-top: 50px;
        height: 2px;
        background-color: #ECECEC;
    }
}
.feature-products{
    padding: 95px 0 120px;
    text-align: center;
    .description{
        max-width: 500px;
        margin: 30px auto;
    }
    .products-menu{
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 80px 0 60px;
        .menu-item{
            display: inline-block;
            text-transform: uppercase;
            font-size: 1.375em;
            font-weight: 500;
            margin: 0 10px;
            padding: 5px;
            &:hover{
                color: black;
                cursor: pointer;
            }
        }
    }
    .images{
        .rectangle-wraper{
            overflow: hidden;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-bottom: 20px;
            .content{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 1s ease;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
.our-team{
    .description{
        max-width: 470px;
        margin: 26px 0 30px;
    }
    .present-team{
        margin: 70px 0;
        display: flex;
        .active-foto{
            flex: 1;
            img{
                display: block;
                width: 80%;
                height: 100%;
                object-fit: cover;
            }
        }
        .wrapper{
            flex: 2;
            .profile{
                padding: 15px 0  60px;
                .resume{
                    margin: 35px 0 40px;
                    width: 75%;
                }
                .contact-list{
                    a{
                        color: rgba(0,0,0,0.7);
                        font-size: 18px;
                        font-style: italic;
                        text-transform: capitalize;
                        padding-right: 30px ;
                        &:hover{
                            color: $accent;
                            text-decoration: none;
                        }
                    }
                }
            }
            .other{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                .human{
                    text-align: center;
                    width: 150px;
                    .rectangle-wraper {
                        position: relative;
                        width: 100%;
                        padding-bottom: 108%;
                        margin-top: 20px;
                        .content {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            .name{
                                z-index: 2;
                                display: block;
                                width: 100%;
                                line-height: 2em;
                                color: white;
                                background-color: rgba(0,0,0,0.5);
                            }
                            &:hover{
                                cursor: pointer;
                                .name{
                                    transform: translate(0,-100%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.subscribe{
    padding: 140px 0;
    text-align: center;
    background: url("../images/back-subscribe.jpg") no-repeat center;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    .h2{
        text-transform: none;
    }
    .description{
        margin: 30px 0 62px;
    }
    .subscribe-email{
        width: 33%;
        padding: 18px 30px;
        color: #2C2C2C;
        margin-right: 22px;
    }
}
.contacts{
    padding: 105px 0;
    .description{
        margin: 50px 0;
    }
    .feedback-contacts{
        margin-top: 75px;
        .feedback-form{
            .name-feedback{
                @extend %feedback-input;
                float: left;
            }
            .emai-feedback{
                @extend %feedback-input;
                float: right;
            }
            .text-feedback{
                clear: both;
                width: 100%;
                border-radius: 10px;
                border: none;
                background-color: rgba(0,0,0,0.1);
                padding: 35px 50px;
                resize: none;
                height: 250px;
                margin: 45px 0;
            }
            .button{
                text-transform: uppercase;
                width: 100%;
            }
        }
        .contacts{
            background-color: #2D2D2D;
            padding-left: 80px;
            position: relative;

            .address{
                color: white;
                line-height: 28px;
                width: 90%;
            }
            a{
                color: white;
                &:hover{
                    color: $accent;
                    text-decoration: none;
                }
            }
            &:after{
                content: '';
                position: absolute;
                display: block;
                width: 100vw;
                height: 100%;
                left: 100%;
                top: 0;
                background-color: #2D2D2D;

            }
        }
    }
}
.page-footer{
    padding: 45px 0 30px;
    background-color: #313030;
    .copyright{
        color: #B8B8B8;
    }
    .social-links{
        text-align: right;
        ul{
            list-style-type: none;
            padding: 0;
            .item{
                display: inline-block;
                margin-left: 18px;
                a{
                    color: #313030;
                    display: block;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    font-size: 1.3em;
                    background-color: white;
                    border-radius: 50%;
                    line-height: 32px;
                    &:hover{
                        color: $accent;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.h1{
    font-size: 3.75em;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 700;
}

.h2{
    text-transform: uppercase;
    font-size: 2.625em;
    line-height: 1.3em;
    font-weight: bold;
}
.h3{
    font-size: 1.875em;
    font-weight: 600;
    text-transform: uppercase;
}

.h4{
    font-size: 1.5em;
    font-weight: 500;
}

.h5{
    color: white;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 700;

}
%feedback-input {
    width: 45%;
    min-width: 250px;
    background-color: rgba(0,0,0,0.1);
    padding: 0 50px;
    line-height: 4.3em;
    border-radius: 10px;
    border: none;
}
.underline{
    display: inline-block;
    width: 130px;
    height: 2px;
    background-color: $accent;
    margin: auto;
}
.button{
    display: inline-block;
    background-color: $accent;
    border-radius: 5px;
    padding: 18px 61px;
    border: solid 2px $accent;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.25s ease-in-out;
    &:hover{
        text-decoration: none;
        color: $accent;
        background-color: white;
    }
}


@import "media";