@font-face {
  font-family: "open-sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open_sans/opensans-regular.eot");
  src: url("../fonts/open_sans/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-regular.woff") format("woff"), url("../fonts/open_sans/opensans-regular.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/open_sans/opensans-bold.eot");
  src: url("../fonts/open_sans/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-bold.woff") format("woff"), url("../fonts/open_sans/opensans-bold.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/open_sans/opensans-extrabold.eot");
  src: url("../fonts/open_sans/opensans-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-extrabold.woff") format("woff"), url("../fonts/open_sans/opensans-extrabold.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/open_sans/opensans-semibold.eot");
  src: url("../fonts/open_sans/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-semibold.woff") format("woff"), url("../fonts/open_sans/opensans-semibold.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/open_sans/opensans-italic.eot");
  src: url("../fonts/open_sans/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-italic.woff") format("woff"), url("../fonts/open_sans/opensans-italic.ttf") format("truetype"); }
