/*Путь к библиотекам*/
$fa-font-path: "../fonts/font-awesome";

$default-font: "open-sans", sans-serif;
$decoration: #a292b3;
$active: #82699d;
$secondary: #b4ad9e;
$text-color: #626262;

$category: #b4ad9e;


$grid-gutter-width: 30px;
