@import "fonts";
@import "libs";
@import "vars";

body{
    font-family: $default-font;
    color: $font-color;
    font-size: 20px;

}

.page-header{
    height: 100vh;
    overflow-y: hidden;
    background-image: url("../images/banner_background.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    .greating{
        text-align: center;
        margin-top: 200px;
        margin-bottom: 56px;
        .description{
            margin: 40px 0 60px;
        }
        .run-video{
            color: $header-color;
            background-color: transparent;
            padding: 18px 48px 18px 42px;
            border: rgba($header-color, 0.1) 1px solid;
            border-radius: 26px;
            margin-bottom: 55px;
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
            .fa-play{
                margin-right: 15px;
                font-size: 12px;
            }
            &:hover{
                background-color: $decorative;
                color: white;
                text-decoration: none;
            }
        }
    }
    .header-iphone{
        img{
            display: block;
            width: 100%;
        }
    }
}
.main-navigation{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 0;
    transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
    .show-menu-button{
        position: absolute;
        color: $header-color;
        z-index: 2;
        &:hover{
            color: $hover-menu;
        }
    }
    .menu{
        display: inline-block;
        padding: 0;
        list-style-type: none;
        .menu-item{
            display: inline-block;
            a{
                display: block;
                font-family: 'lato', sans-serif;
                font-size: 16px;
                color: $header-color;
                &:hover{
                    color: $hover-menu;
                }
            }
        }
    }
    .left-menu{
        .menu-item{
            margin-left: 40px;
            &:first-child{
                margin-left: 50px;
            }
        }
    }
    .logo{
        text-align: center;
    }
    .right-menu{
        text-align: right;
        .get-app{
            &:hover{
                color: $hover-menu;
                text-decoration: none;
            }
            .fa-apple{
                margin-right: 15px;
                font-size: 20px;
            }
        }
        .menu-item{
            margin-right: 30px;
        }
    }
}
.fixed{
    z-index: 5;
    background-color: white;
    position: fixed;
    padding: 20px 0;
}
.features{
    padding: 120px 0 40px;
    .feature{
        .feature-text{
            margin-top: 40px;
            width: 95%;
        }
    }
    .decorative-line{
        margin: 126px 0 0;
    }
}

.iphone-features{
    position: relative;
    .content-wraper{
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        .content{
            .h2{
                margin-bottom: 70px;
            }
            .iphone-text{
                margin: 36px 0;
            }
        }
    }
    .image{
        width: 50%;
        img{
            display: block;
            width: 100%;
            object-fit: contain;
        }
    }
}

.h1, .h2{
    font-family: valeraround,sans-serif;
    color: $header-color;
    font-weight: 400;
}
.h3, .h4, .h5{
    font-family: lato, sans-serif;
    color: $header-color;
    font-weight: 300;
}

.h1{
    font-size: 2.652em;
}
.h2{
    font-size: 42px;
}
.h3{
    font-size: 32px;

}
.h4{
    font-size: 26px;
    margin: 45px 0;
}
.h5{
    font-weight: 700;
    font-size: 12px;
}
.decorative-line{
    background-color: $separator;
    height: 1px;
}
.button{
    padding: 13px;
    border-radius: 21px;
    font-family: "lato", sans-serif;
    color: white;
    background-color: $decorative;
    font-weight: 400;
    font-size: 16px;

}

@import "media";