
.icon-truck-2:before { content: '\e805'; } /* '' */
.icon-diamond:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-settings:before { content: '\e808'; } /* '' */