$default-font: "lato", sans-serif;
$font-color: #8c8f95;

$header-color: #26272d;
$decorative: #267df4;
$second: #6fc754;
$apple: #131315;

$hover-menu: rgba(27, 28, 30, 0.4);

$separator:  rgba(38, 39, 45, 0.05);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
);
